
name: Promote Charm

on:
  workflow_dispatch:
    inputs:
      promotion:
        type: choice
        description: Channel to promote from
        options:
          - edge -> beta
          - beta -> candidate
          - candidate -> stable

jobs:
  promote:
    name: Promote
    uses: canonical/observability/.github/workflows/charm-promote.yaml@dd6c66dc595da864fcc880464f9d7526aa2d6b2b # v1
    with:
      promotion: ${{ github.event.inputs.promotion }}
    secrets: inherit