name: Pull Requests
on:
  pull_request:
    branches:
      - main
      - track/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pull-request:
    name: PR
    uses: canonical/observability/.github/workflows/charm-pull-request.yaml@dd6c66dc595da864fcc880464f9d7526aa2d6b2b # v1
    secrets: inherit
